
<footer class="footer pt-5 pb-5 bg-primary text-white">
    <div class="container">

          <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
            <div class="col-md-5">
                <p><strong>IT Company Task Manager</strong> is a Django project that will be helpful for IT companies to keep track of their tasks.</p>
                <ul class="social-buttons mb-2 mb-lg-0">
                    <li>
                        <a href="https://github.com/Olena-Shulga/it-company-task-manager" aria-label="github social link" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Star us on Github">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col mb-md-0">

            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">&copy; Olena Shulga
                </p>
                </div>
            </div>
        </div>
    </div>
</footer>
