{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section id="features" class="section section-lg pb-7 mt-1 z-2">
    <div class="container">
      <h1>{{ object|yesno:"Update,Create" }} task</h1>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}

        <a href="javascript:history.back()" class="btn btn-light">Cancel</a>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </section>
{% endblock %}
