{% extends "base.html" %}

{% block content %}
  <h1>
    Task: {{ task.name }}
  </h1>

  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Deadline:</strong> {{ task.deadline }}</p>
  <p><strong>Priority:</strong> {{ task.priority }}</p>
  <p><strong>Task type:</strong> {{ task.task_type }}</p>
  <p><strong>Is completed:</strong> {{ task.is_completed}}</p>

  <div class="ml-3">
    <h4>Assignees</h4>

    {% for assignee in task.assignees.all %}
        <hr>
        <p><strong>Username:</strong> {{ assignee.username }}</p>
        <p><strong>Name:</strong> {{ assignee.first_name }} {{ assignee.last_name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{assignee.id}}</p>

    {% empty %}
      <p>No assignees yet!</p>
    {% endfor %}
  </div>
{% endblock %}
